In [2]:
import pandas as pd

In [5]:
#read the json file
toronto = pd.read_json('toronto_cities.json')

In [6]:
toronto.head()

  PostalCode           Borough                      Neighborhood
0        M2A      Not assigned                      Not assigned
1        M3A        North York                         Parkwoods
2        M4A        North York                  Victoria Village
3        M5A  Downtown Toronto         Regent Park, Harbourfront
4        M6A        North York  Lawrence Manor, Lawrence Heights

In [13]:
toronto.shape

(179, 3)

In [7]:
cities = toronto[toronto['Borough'] != 'Not assigned']
cities.head(11)

   PostalCode           Borough                                 Neighborhood
1         M3A        North York                                    Parkwoods
2         M4A        North York                             Victoria Village
3         M5A  Downtown Toronto                    Regent Park, Harbourfront
4         M6A        North York             Lawrence Manor, Lawrence Heights
5         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government
7         M9A         Etobicoke      Islington Avenue, Humber Valley Village
8         M1B       Scarborough                               Malvern, Rouge
10        M3B        North York                                    Don Mills
11        M4B         East York              Parkview Hill, Woodbine Gardens
12        M5B  Downtown Toronto                     Garden District, Ryerson
13        M6B        North York                                    Glencairn

In [20]:
cities

,PostalCode,Borough,Neighborhood
1,M3A,North York,Parkwoods
2,M4A,North York,Victoria Village
3,M5A,Downtown Toronto,"Regent Park, Harbourfront"
4,M6A,North York,"Lawrence Manor, Lawrence Heights"
5,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government"
...,...,...,...
159,M8X,Etobicoke,"The Kingsway, Montgomery Road, Old Mill North"
164,M4Y,Downtown Toronto,Church and Wellesley
167,M7Y,East Toronto,"Business reply mail Processing Centre, South C..."
168,M8Y,Etobicoke,"Old Mill South, King's Mill Park, Sunnylea, Hu..."
177,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."

In [21]:
cities.shape

(103, 3)

In [1]:
import geocoder

In [8]:
locat = pd.read_csv('Geospatial_Coordinates.csv')
print('yes')

yes

In [9]:
locat.head(11)

   Postal Code   Latitude  Longitude
0          M1B  43.806686 -79.194353
1          M1C  43.784535 -79.160497
2          M1E  43.763573 -79.188711
3          M1G  43.770992 -79.216917
4          M1H  43.773136 -79.239476
5          M1J  43.744734 -79.239476
6          M1K  43.727929 -79.262029
7          M1L  43.711112 -79.284577
8          M1M  43.716316 -79.239476
9          M1N  43.692657 -79.264848
10         M1P  43.757410 -79.273304

In [10]:
locat.shape

(103, 3)

In [22]:
locat.columns

Index(['Postal Code', 'Latitude', 'Longitude'], dtype='object')

In [23]:
locat.columns = ['PostalCode','Latitude','Longitude']

In [24]:
locat.columns

Index(['PostalCode', 'Latitude', 'Longitude'], dtype='object')

In [26]:
T = pd.merge(cities,locat)

In [29]:
T.head(12)

,PostalCode,Borough,Neighborhood,Latitude,Longitude
0,M3A,North York,Parkwoods,43.753259,-79.329656
1,M4A,North York,Victoria Village,43.725882,-79.315572
2,M5A,Downtown Toronto,"Regent Park, Harbourfront",43.654260,-79.360636
3,M6A,North York,"Lawrence Manor, Lawrence Heights",43.718518,-79.464763
4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government",43.662301,-79.389494
5,M9A,Etobicoke,"Islington Avenue, Humber Valley Village",43.667856,-79.532242
6,M1B,Scarborough,"Malvern, Rouge",43.806686,-79.194353
7,M3B,North York,Don Mills,43.745906,-79.352188
8,M4B,East York,"Parkview Hill, Woodbine Gardens",43.706397,-79.309937
9,M5B,Downtown Toronto,"Garden District, Ryerson",43.657162,-79.378937
10,M6B,North York,Glencairn,43.709577,-79.445073
11,M9B,Etobicoke,"West Deane Park, Princess Gardens, Martin Grov...",43.650943,-79.554724